* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: black;
}
:root{
    --Orangé:#d46a28 ;
    --violet-clair: #3a3b5a;
    --Noir: #000000 ;
    --Blanc:#FFFFFF;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Makes the logo circular */
    transition: transform 0.6s; /* Smooth transition for flip effect */
}

/* Flip animation on hover */
.logo:hover {
    transform: rotateY(180deg); /* Flip the logo on hover */
}

/* Background color for the page */
body {
    font-family: Arial, sans-serif;
    background-color: var(--Blanc); /* Light background for a clean look */
    color: #333;
}

/* Header style */
header {
    background-color: var(--violet-clair);
    padding: 20px;
}

/* Navbar links */
.navbar-menu a {
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar-menu a:hover {
    color: var(--Orangé); /* Brighten link on hover */
}

/* Footer style */
footer {
    background-color: var(--violet-clair);
    color: var(--Blanc);
    text-align: center;
    padding: 10px;
}
/* Top bar pour connexion et contacts */

.top-bar {
    color: var(--Blanc);
    text-align: right;
}

.top-bar-right a {
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
}

.top-bar-right a:hover {
    color: var(--Orangé);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.navbar-logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.navbar-menu a:hover {
    color: var(--violet-clair);
}

/* Dropdown */
.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffccbc;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #d99688;
    color: var(--Blanc);
}

.dropdown:hover .dropdown-content {
    display: block;

}


.header-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.header-content button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

main {
    padding: 20px;
}

/* Section des produits */
.produit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.produit-card {
    position: relative;
    width: 220px;
    height: 340px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
    text-align: center;
}

.produit-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produit-card a {
    text-decoration: none;
    color: inherit;
}

.produit-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: opacity 0.3s;
    padding: 10px;
}

.produit-card .info {
    padding: 10px;
}

.produit-card h3 {
    margin: 5px 0;
    font-size: 1.2em;
}

.produit-card p {
    font-size: 0.9em;
    margin: 0;
}

/* Footer */
footer {
    background-color: #3A3B5A;
    color: white;
    text-align: center;
    padding: 10px 0;
}